<%- include('header'); -%>
<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio illum amet
  magni voluptates vitae commodi delectus minima ipsam a dignissimos ducimus
  sit, praesentium saepe doloribus molestias fugit quisquam eos adipisci, cumque
  ab sequi aut exercitationem?
</p>
<%- include('footer'); -%>
